@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background: #2e2e2e;
	list-style-type: none;
}


.headerContainer{
  min-height: 50px;
	max-height: 20px;
}

.headerContainer, .contentContainer{
	width: 1152px;
	position: relative;
	margin: 0 auto;
	/*background: #ccc;*/
}


.summaryContainer{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	margin: 0;
	background: #2A2A2A;
}


.logo{
	width: 1152px;
	padding: 86px 0;
	color: #fff;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 900;
	font-size: 48pt;
	margin: 0 auto;
}

.logo > p{
	position: relative;
	margin-top: 32px;
	font-size: 14pt;
	font-weight: 400;
	color: #eee;
	text-transform: none;
	padding: 0 200px;
}

.headerContainer > .last-Menu{
  display: flex;
  flex-direction: column;
  //justify-content: left;
  align-items: end;
  position: relative;
  min-height: 20px;
  margin:0;
  padding: 16px;
}

.headerContainer > .last-Menu > ul{
	list-style: none;
	display: flex;
}

.headerContainer > .last-Menu > ul > li{
	margin:0 4px;
	text-align: center;
}

.headerContainer > .last-Menu > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
	position: relative;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding: 8px;
	background-image: linear-gradient(
		to left,
		#3ABCFC,
		#3ABCFC 50%,
		#fff 50%
	);
  background-size: 200% 100%;
  background-position:100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: all 160ms ease-in-out;
	
}

.headerContainer > .last-Menu > ul > li > a:hover{
	 background-position: 0;
}


/**/
.dotTopMenu, .dotContacts{
	width: 20px;
	height:2px;
	position: absolute;


	opacity: 0;
	border-radius: 10px;
	transition: all 160ms ease-in-out;
} 

.dotTopMenu{
	bottom: 10px;
	left: 958.5px;
	background: #fff;
}

.dotContacts{
	bottom: 16px;
	left: 62.5px;
	background: #3ABCFC;
}

/**/

.contentContainer{
 overflow: hidden;
	border-radius: 5px;
	text-align: center;
}
.contentContainer > h2{
  margin-top: 10px;
	padding: 60px 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 26pt;
	color: #fff;
}

.contentContainer > ul > li:first-child{
	margin-top: 0;
}

.contentContainer > ul > li{
	list-style-type: none;
	width: 100%;
	height: 420px;
	background: #666;
	margin: 30px 0;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	transition: all 120ms ease-in-out;
}

.contentContainer > ul > li > a{
	text-decoration: none;
}

.contentContainer > ul > li > a > img{
	display: flex;
	float: left;
	width: 65%;
}

.contentContainer > ul > li:nth-child(even) > a > img{
	float: right;
	right: 0;
}

.contentContainer > ul > li:nth-child(even) > a > .text{
	float: left;
	left: 0;
}


.contentContainer > ul > li > a > .text{
	flex-direction: column;
  position: relative;
	display: flex;
	width: 35%;
	height: 100%;
	right: 0;
	text-align: center;
	justify-content: center;
	background: none;
	transition: all 120ms ease-in-out;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16pt;
	color: #fff;	
}


.contentContainer > ul > li > a > .text > h1, p{
	font-size: 16pt;
	background: none;
}
.contentContainer > ul > li > a > .text > p{
	font-size: 12pt;
	font-weight: 200;
}

.contentContainer > ul > li > a:hover > .text{
	background: #fff;
	color: #000;
}

.contentContainer > ul > li > a:before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	display: block;
	background: #fff;
	opacity: 0;
	transition: all 120ms ease-in-out;
	z-index: 1
}

.contentContainer > ul > li:hover > a:before{
  opacity: 30%;
}

.aboutMy{
	width: 100%;
	height: 640px;
	position: relative;
	margin:2px 0 20px 0;
	background: #2A2A2A;
}

.aboutMy > .aboutContent{
	width: 1152px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	display: block;
}

.aboutMy > .aboutContent > h2{
	padding: 30px 0;
	font-size: 28pt;
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

.aboutMy > .aboutContent > .myImage{
	width:360px;
	height: 360px;
	display: block;
	margin-top:30px;
	float: left;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	filter:  drop-shadow(2px 2px 6px #1A1A1A);
}
.aboutMy > .aboutContent > .myImage > img{ 
	filter: contrast(120%) saturate(2) grayscale(100%) sepia(50%);
	width: 100%;
}

.aboutMy > .aboutContent > .resumeText{
	position: relative;
	float: left;
	top: 30px;
	left: 60px;
	display: block;
	width: 60%;
	height: auto;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	padding:10px 40px;
}

.aboutMy > .aboutContent > .resumeText:before{
	content: '';
	position: absolute;
	width: 2px;
	height: 180px;
  left: 0;
	border-radius: 5px;
	top: 80px;
	background: #3D3D3D;
}

footer{
	width: 100%;
	min-height: 20px;
	position: relative;
	bottom: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

footer:after{
	content: '';
	width: 100%;
	height: 30px;
	position: absolute;
  bottom: 0;
	left: 0;
	background: #333;
	z-index: 0;
}

footer > .footerContent{
	width: 1152px;
	height: 160px;
	position: relative;
	margin: 0 auto;
	background: none;
	z-index: 1;
	padding: 20px 0;
}

.footerContent > .socialMedia{
	width: 100%;
	height: 100px;
	right: 0;
	top:10px;
	float: right;
	position: relative;
	background: none;
	display: grid;
	justify-content: center;
}

.footerContent > .socialMedia > h2{
	color: #fff;
	font-size:20pt;
}

.footerContent > .socialMedia > ul{
	display: inline;
	position: relative;
	width: 100%;
	background: none;
}


.footerContent > .socialMedia > ul > li{
	width: 200px;
	margin: 10px 0;
	display: inline;
	position: relative;
}

.footerContent > .socialMedia > ul > li > a{
	text-decoration: none;
	font-size: 12pt;
	position: relative;
}


.footerContent > .socialMedia > ul > li > a> p,
.footerContent > .socialMedia > ul > li > a > img{
  position: relative;
	display: inline;
	padding: 0 2pt;
}



.footerContent > .socialMedia > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-size: 12pt;
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding: 8px;
	background-image: linear-gradient(
		to left,
		#D7D7D7,
		#D7D7D7 50%,
		#3ABCFC 50%
	);
  background-size: 200% 100%;
  background-position:100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: all 160ms ease-in-out;
}

.footerContent > .socialMedia > ul > li > a:hover {
	background-position: 0;
	
}


.footerContent > .socialMedia > ul > li > a > img{
	width: 22px;
	height: 22px;
	top: 4px;
	position: relative;
	overflow: hidden;
	transition: all 160ms ease-in-out;
	filter: grayscale(100%);
}

.footerContent > .socialMedia > ul > li > a:hover img{
	filter: grayscale(0);
}

footer > .footerContent > .websiteRight{
	width: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	text-align: center;
	padding: 5pt 0;
	background: none;
  
}

footer > .footerContent > .websiteRight > p{
	color: #fff;
	font-family: tahoma;
	font-size: 10pt;
}

@media screen and (max-width: 720px) {
	*{
		float: none;
		max-width: 100%;
	}
	.headerContainer, .contentContainer{
		width: 100%;

		height: auto;
		left: 0;
		right: 0;
	}
		
	.logo{
		width: 100%;
		font-size: 26pt;
		padding: 60px 0;
		margin: 12px 0;
	}
	.logo > p{
		padding: 0 40px;
	}
	
	.contentContainer > ul > li{
		width: 96%;
		height: 260px;
		margin:10px 2%;
		z-index: 0;
	}
	.headerContainer > .last-Menu {
		width: 95%;
		margin: 0 auto;
		padding: 20px 0;
		left: 0;
		overflow: hidden;
	}
		
	.contentContainer > ul > li > a > img{
		width: 100%;
		z-index: 1
	}
	.contentContainer > ul > li > a > .text{
	 width: 100%;
		height: 60px;
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: 0;
	}
	
	.contentContainer > ul > li > a > .text:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: #2e2e2e;
		z-index: -1;
		opacity: 60%;
	}
	
	.contentContainer > ul > li > a:hover > .text{
		background: #2e2e2e;
		color: #fff;
		opacity: 60%;
	}
	.contentContainer > ul > li:hover > a:before{
    opacity: 0;
  }
	.aboutMy{
		width: 100%;
		min-height:1050px;
		margin-top: 40px;
		position: relative;
	}
	.aboutMy > .aboutContent {
		width: 100%;
		margin: 0;
	}
	.aboutMy > .aboutContent > h2 {
		width: 100%;
		left: 0;
		font-size: 24pt;
	}
	.aboutMy > .aboutContent > .myImage{
		width: 320px;
		height: 320px;
		position: relative;
		margin:0 50%;
		left: -160px;
	}
	
	.aboutMy > .aboutContent > .resumeText{
		width: 90%;
	   padding:20px 0;
		left: 0;
		margin:0 5%;
	}
	
	.aboutMy > .aboutContent > .resumeText:before{
		display: none;
	}
	
  footer > .footerContent{
		width: 100%;
		min-height: 420px;
		position: relative;
	}
	
	.footerContent > .socialMedia{
		display: block;
		left: 0; right: 0;
		margin: 0 4%;
		float: none;
		min-height: 330px;
		padding: 0;
		width: 92%;
	}
	.footerContent > .socialMedia > ul{
		display: block;
		margin: 30px 0;
	}
	.footerContent > .socialMedia > ul > li{
		display: block;
		width: 50%;
		padding: 10px 0;
		margin: 6px auto;
		border-radius: 4px;
		background: #3D3D3D;
	}
	.footerContent > .socialMedia > ul > li > a{
			background-position: 0;
	}
	.footerContent > .socialMedia > ul > li > a img{
	 filter: grayscale(0);
  }
	.dotContacts{
		display: none;
	}
}