@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background: #2e2e2e;
}


.container{
  min-height: 50px;
	max-height: 20px;
}

.container{
	width: 1152px;
	position: relative;
	margin: 0 auto;
	/*background: #ccc;*/
}


.container > .last-Menu{
  display: flex;
  flex-direction: column;
  //justify-content: left;
  align-items: end;
  position: relative;
  min-height: 20px;
  margin:0;
  padding: 16px;
}

.container > .last-Menu > ul{
	list-style: none;
	display: flex;
}

.container > .last-Menu > ul > li{
	margin:0 4px;
	text-align: center;
}

.container > .last-Menu > ul > li > a{
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
	position: relative;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding: 8px;
	background-image: linear-gradient(
		to left,
		#3ABCFC,
		#3ABCFC 50%,
		#fff 50%
	);
  background-size: 200% 100%;
  background-position:100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: all 160ms ease-in-out;
	
}

.container > .last-Menu > ul > li > a:hover{
	 background-position: 0;
}


/**/
.dotTopMenu, .dotContacts{
	width: 20px;
	height:2px;
	position: absolute;


	opacity: 0;
	border-radius: 10px;
	transition: all 160ms ease-in-out;
} 

.dotTopMenu{
	bottom: 10px;
	left: 958.5px;
	background: #fff;
}

.dotContacts{
	bottom: 16px;
	left: 62.5px;
	background: #3ABCFC;
}

/**/



footer{
	width: 100%;
	min-height: 20px;
	position: relative;
	bottom: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

footer:after{
	content: '';
	width: 100%;
	height: 30px;
	position: absolute;
  bottom: 0;
	left: 0;
	background: #333;
	z-index: 0;
}

footer > .footerContent{
	width: 1152px;
	height: 160px;
	position: relative;
	margin: 0 auto;
	background: none;
	z-index: 1;
	padding: 20px 0;
}

.footerContent > .socialMedia{
	width: 100%;
	height: 100px;
	right: 0;
	top:10px;
	float: right;
	position: relative;
	background: none;
	display: grid;
	justify-content: center;
}

.footerContent > .socialMedia > h2{
	color: #fff;
	font-size:20pt;
}

.footerContent > .socialMedia > ul{
	display: inline;
	position: relative;
	width: 100%;
	background: none;
}


.footerContent > .socialMedia > ul > li{
	width: 200px;
	margin: 10px 0;
	display: inline;
	position: relative;
}

.footerContent > .socialMedia > ul > li > a{
	text-decoration: none;
	font-size: 12pt;
	position: relative;
}


.footerContent > .socialMedia > ul > li > a> p,
.footerContent > .socialMedia > ul > li > a > img{
  position: relative;
	display: inline;
	padding: 0 2pt;
}



.footerContent > .socialMedia > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-size: 12pt;
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding: 8px;
	background-image: linear-gradient(
		to left,
		#D7D7D7,
		#D7D7D7 50%,
		#3ABCFC 50%
	);
  background-size: 200% 100%;
  background-position:100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: all 160ms ease-in-out;
}

.footerContent > .socialMedia > ul > li > a:hover {
	background-position: 0;
	
}


.footerContent > .socialMedia > ul > li > a > img{
	width: 22px;
	height: 22px;
	top: 4px;
	position: relative;
	overflow: hidden;
}

footer > .footerContent > .websiteRight{
	width: 100%;
	position: absolute;
	display: block;
	bottom: 0;
	text-align: center;
	padding: 5pt 0;
	background: none;
  
}

footer > .footerContent > .websiteRight > p{
	color: #fff;
	font-family: tahoma;
	font-size: 10pt;
}